/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body{
    background-color: rgb(240, 240, 240);
    font-family: Arial;
}

/* Intestazione della pagina */

#intestazione {
    height: 60px;
    line-height: 60px;
    background-color: white;
}

#logo{
    height: 45px;
    vertical-align: middle;
    padding-left: 50px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

/* Intestazione della card */

.card{
    width: 55%;
    background-color: white;
    margin: 35px auto;
}

.added_elements{
    height: 45px;
    line-height: 45px;
    border-bottom: 2px solid rgb(240, 240, 240);
    padding-left: 20px;
}

/* corpo della card */

.corpo{
    height: 450px;
    padding-left: 50px;
    margin-top: 20px;
}

/* section button */
#add_task, #add_section{
    vertical-align: middle;
    padding: 5px;
    border-radius: 4px;
}

#add_task{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}

#add_section{
    border: 1px solid rgb(112, 112, 112);
}

/* section list */

ul{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
}

li{
    margin-top: 5px;
    
}




