/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body{
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

/* Intestazione della pagina */

#intestazione {
    height: 60px;
    line-height: 60px;
    background-color: white;
}

#logo{
    height: 45px;
    vertical-align: middle;
    padding-left: 50px;
}

h1{
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 400px;
}

/* Intestazione della card */

.card{
    width: 55%;
    background-color: white;
    margin: 35px auto;
}

.added_elements{
    height: 45px;
    line-height: 45px;
    border-bottom: 2px solid rgb(240, 240, 240);
    padding-left: 20px;
}

/* section button */
#add_task, #add_section{
    vertical-align: middle;
    padding: 5px;
    border-radius: 4px;
}

#add_task{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}

#add_section{
    border: 1px solid rgb(112, 112, 112);
}

/* corpo della card */

.corpo{
    height: 450px;
    padding-left: 50px;
    margin-top: 20px;
}

/* section list */

ul{
    margin-bottom: 40px;
    list-style-type: none;
}

li{
    margin-top: 10px;
}

/* stile entità */
.compito{
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.eseguito{
    border: 1px solid currentColor;
    color: green;
}

.non_eseguito{
    border: 1px solid currentColor;
    color: red;
}

/* stile della label */
.label{
    border-radius: 10px;
    color: white;
    padding: 5px;
    margin-left: 3px;
    font-size: 10px;
    vertical-align: middle;
}

/* colori delle label */
.dodger{
    background-color: dodgerblue;
}

.darkviolet{
    background-color: darkviolet;
}

.mediumgreen{
    background-color: mediumseagreen;
}

.orange{
    background-color: darkorange;
}

.hotpink{
     background-color: hotpink;
}

.springreen{
    background-color: springgreen;
}

