/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body{
    background-color: rgb(240, 240, 240);
}

#intestazione {
    height: 60px;
    line-height: 60px;
    background-color: white;
}

#logo{
    height: 45px;
    vertical-align: middle;
    padding-left: 50px;
}

h1{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.card{
    width: 55%;
    background-color: white;
    margin: 35px auto;
}

.added_elements{
    height: 40px;
    border-bottom: 2px solid rgb(240, 240, 240);
}

.corpo{
    height: 450px;
}